<div class="container">

  <div class="container__header flex__center-center">
    <h1 class="container__header--title">Wypełnij formularz</h1>
    <span class="container__header--subtitle">Skontaktujemy się z tobą najszybiej jak to będzie możliwe</span>
  </div>

  <form class="container__form" [formGroup]="messageForm" #form="ngForm" (ngSubmit)="sendMessage()">
    <div class="form-group">
      <label class="form-label" for="companyName">Nazwa firmy</label>
      <input class="form-input" id="companyName" type="text" placeholder="np. Apple" formControlName="companyName">
    </div>
    <div class="form-error" *ngIf="control.companyName.errors && control.companyName.touched">
      <span *ngIf="control.companyName.errors?.required">Nazwa firmy jest wymagana</span>
      <span *ngIf="control.companyName.errors?.minlength">Wprowadź minimum dwa znaki</span>
    </div>
    <div class="form-group">
      <label class="form-label" for="nipNumber">Numer NIP</label>
      <input class="form-input" id="nipNumber" type="text" placeholder="1234555640" formControlName="companyNipNumber">
    </div>
    <div class="form-group">
      <label class="form-label" for="emailAddress">E-mail</label>
      <input class="form-input" id="emailAddress" type="email" placeholder="example@expl.co" formControlName="emailAddress">
    </div>
    <div class="form-error" *ngIf="control.emailAddress.errors && control.emailAddress.touched">
      <span *ngIf="control.emailAddress.errors?.required">Email jest wymagany</span>
      <span *ngIf="control.emailAddress.errors?.email">Wprowadź poprawny adres email</span>
    </div>
    <div class="form-group">
      <label class="form-label" for="phoneNumber">Numer telefonu</label>
      <input class="form-input" id="phoneNumber" type="tel" placeholder="123 456 789" formControlName="phoneNumber">
    </div>
    <div class="form-group">
      <label class="form-label" for="messageSubject">Temat</label>
      <select class="form-select" id="messageSubject" formControlName="messageSubject">
        <option *ngFor="let subject of allSubjects" [ngValue]="subject">{{ subject }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label" for="messageContent">Treść wiadomości</label>
      <textarea
        class="form-textarea"
        rows="3"
        id="messageContent"
        placeholder="Dzień dobry,"
        formControlName="messageContent">
      </textarea>
    </div>
    <div class="form-error" *ngIf="control.messageContent.errors && control.messageContent.touched">
      <span *ngIf="control.messageContent.errors?.required">Treść wiadomości jest wymagana</span>
      <span *ngIf="control.messageContent.errors?.minlength">Wiadomość jest za krótka</span>
    </div>
    <div class="form-group--agreement">
      <input id="formAgreement" type="checkbox" formControlName="formAgreement">
      <label class="form-agreement-label" for="formAgreement">Wyrażam zgodę na kontakt telefoniczny w sprawach marketingowych</label>
    </div>
    <div class="form-error" *ngIf="control.formAgreement.errors && form.submitted">
      <span>Zaakcpetuj regulamin</span>
    </div>
    <div class="flex__center-center">
      <button
        type="submit"
        class="container__form--submit"
      >
        Wyślij wiadomość
      </button>
    </div>
  </form>
</div>
